<h3>Map Warperについて</h3>
<p>Map Warperは画像や地図を変形・伸縮させて現実の地図の座標に合うよう整形するジオリファレンス、あるいは「ジオレクティフィケーション」のための Ruby on Rails アプリケーションです。OpenStreetMapの使用を想定して開発されています。また、<a href="https://github.com/timwaters/mapwarper">完全なオープンソース・ソフトウェア</a>です。</p>
<p>Map Warperのインスタンスの1つである日本版Map Warper（本サイト）のほか、図書館などの施設、例えば、<a href="http://maps.nypl.org/">ニューヨーク公共図書館</a>、ハーバード大学、スタンフォード大学、ライデン市文書館 (オランダ)、米国エネルギー省国家環境政策法関連部局 (米国連邦政府)、ウィキメディア・コモンズがMap Warperを利用しています。</p>

<h4>日本版Map Warperの運営者と連絡先</h4>
<dl>
  <dt>立命館大学文学部地理学教室 矢野桂司</dt>
  <dt>メール</dt>
  <dd>yano@lt.ritsumei.ac.jp</dd>
</dl>

<h4>MapWarperの開発者と連絡先</h4>
<dl>
  <dt>Tim Waters</dt>
  <dt>メール</dt>
  <dd>tim@geothings.net</dd>
  <dt>ブログ</dt>
  <dd><a href="http://thinkwhere.wordpress.com">http://thinkwhere.wordpress.com</a></dd>
  <dt>Twitter</dt>
  <dd><a href="https://twitter.com/tim_waters">@tim_waters</a></dd>
</dl>

<h4>Map Warperを支援する</h4>
<p> 開発の一部は、Topomancy LLC (Entropy Free LLC)、ニューヨーク公共図書館、ウィキメディア財団から特別雇用の形での支援を受けて実施しました。<br />
Tim Waters氏を雇用し、特定の機関・団体のシステム向けにMap Warperをカスタマイズして使用したい方は、メールにてご相談ください。</p>

<h4>Map Warperへの資金援助</h4>
<p>Map Warper のプログラムはTim Warters氏により無償で開発・公開されています。Map Warperの開発を支援したいという方は、PayPalにより<a href="https://www.paypal.me/timdevelops">このページ (paypal.me/timdevelops) </a>から<a href="https://www.paypal.me/timdevelops">Waters氏に寄付</a>をすることができます。</p>

<h4>謝辞</h4>
<p>日本版Map Warperは科学研究費助成事業の助成（16H01965、17H06186）を受けて開発されています。</p>
<p>上述のとおり、日本版Map WarperはTim Waters氏が開発したMap Warperを日本語化したものです。優れたオープンソース・ソフトウェアを開発し無償で公開してくださるWaters氏、および開発に携わったその他の方々へ感謝を申し上げます。</p>

