<h3>ヘルプ</h3>

<h4>トラブルが起こったのですが……</h4>
<p>GitHubのIssuesの項目のopenとclosedを参照してください――<a href="https://github.com/timwaters/mapwarper/issues">https://github.com/timwaters/mapwarper/issues</a>。</p>

<h5>よくあるトラブル</h5>
<ul>
<li>PDFが使用できません――Map Warperで使用できるのは画像です。PDFは複数の要素を含むコンテナであり、テキストを含む場合があります。PDFから画像を抽出し、それをアップロードしてみてください。</li>
<li>グレースケール画像が使用できません――RGBあるいはトゥルーカラーへ変換してからアップロードしてみてください。1、2本の筋だけを含む画像ではトラブルが起こる場合が多いようです。</li>
<li>URLを使用して画像をアップロードすることができません――画像をダウンロードしてから直接アップロードしてみてください。</li>
<li>地図からモザイクを作るにはどうすればいいですか？――最初に地図をお気に入りに加えてください。</li>
</ul>

<h4>Googleマップが使えないのはなぜですか？</h4>
<p>Map WarperではOpenStreetMapの使用を想定しています。Googleマップには著作権があるため、これを整形したり他の方法で加工することには法的、倫理的な問題があります。ただし、開発者個人の意見によるとGoogleの衛星画像を使うことはできます。衛星画像を追加する方法は自身で確認してください。</p>

<h4>コードを入手し、Map Warperを支援することはできますか？</h4>
<p>できます。コードはここから入手してください――<a href="http://github.com/timwaters/mapwarper/">http://github.com/timwaters/mapwarper/</a>。現在はMITライセンスです。また、開発者のTim Waters氏はメール (tim@geothings.net) での問い合わせを受け付けています。</p>

<h4>APIはありますか？</h4>
<p>あります。<a href="http:/mapwarper.net/api/v1/">http:/mapwarper.net/api/v1/</a>を参照してください。</p>

<h4>地図をアップロードする条件はどうなっていますか？</h4>
<p>画像を本ウェブサイトへアップロードすると、基準点の変更を含めて、あらゆる人がその地図を閲覧できることに同意したとみなされます。<br />
そのため、アップロードする際は許可をとることを推奨します。画像をアップロードして閲覧に供する際、他者に対する著作権は保証されません。アップロードした画像とメタデータの保護・プライバシーに関する保証もありません。<br>
著作権の侵害が疑われる場合はyano@lt.ritsumei.ac.jpまで連絡してください。<br>
一般的な注意事項として、画像が自由に配布または複製できるものであることを確認してください。特別な条件がある場合は説明文にその旨を記載してください。</p>

<h4>Map Warperを支援するにはどうすればいいですか？</h4>
<p>Map Warperプロジェクトの維持・開発を支援したい方は、PayPalにより<a href="https://www.paypal.me/timdevelops">このページ (paypal.me/timdevelops) </a>から<a href="https://www.paypal.me/timdevelops">Tim Waters氏へ寄付</a>をすることができます。</p>

